[Unit]
Description=Run autocash-ultimate content generator timer
Requires=generator.service

[Timer]
# Run every 12 hours
OnCalendar=*-*-* 00,12:00:00
Persistent=true

[Install]
WantedBy=timers.target
